.treeview { background-color: white; padding: 0; display: block; list-style: none; }
.treeview .hitarea { height: 16px; width: 16px; margin-left: 0px; float: left; cursor: pointer; background: url(../images/folderarrow.png) 2px 3px no-repeat; }
.treeview .hitarea.expandable-hitarea { background: url(../images/folderarrowDown.png) 0px 3px no-repeat; }
* html .hitarea { display: inline; float:none; }
.treeview li { margin: 0; padding: 3px 0 2px 6px; text-align: left; font-family: 'LatoBold'; font-size: 9pt; text-transform: none; color: #666666; width: 100%; display: block; background: url(../images/treeview-default-line.gif) 2px 1px no-repeat; }
.treeview .hover { color: #333333; cursor: pointer; }
.treeview li span { background: url(../images/folder.png) 0 0 no-repeat; padding: 0 0 0 20px; }
.treeview .sub-sub li span { background: url(../images/folder.png) 15px 0 no-repeat; padding: 0 0 0 35px; }
.treeview .subli span { background: url(../images/folder.png) 16px 0 no-repeat; padding: 0 0 0 36px; }
