<IfModule mod_php5.c>
php_value max_execution_time 300
</IfModule>

SetEnv APPLICATION_ENV production

SetEnv SITE_ID 3
RewriteEngine On
RewriteBase /
RewriteRule ^(js)/.*$ - [PT]
RewriteRule ^(fonts)/.*$ - [PT]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
